<!DOCTYPE html>
<html>
<head>
    <title>Edit config</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Edit config</h2>
        <form action="{{ url_for('save') }}" method="POST">
            <input type="hconfigIdden" name="configId" value="{{ config.configId }}">
            
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" configId="name" name="name" value="{{ config.name }}" required>
            </div>
            
            <div class="form-group">
                <label for="proportional">P:</label>
                <input type="number" configId="proportional" name="proportional" value="{{ config.proportional }}" required>
            </div>
            
            <div class="form-group">
                <label for="integral">I:</label>
                <input type="number" configId="integral" name="integral" value="{{ config.integral }}" required>
            </div>

            <div class="form-group">
                <label for="differential">D:</label>
                <input type="number" configId="differential" name="differential" value="{{ config.differential }}" required>
            </div>
            
            <div class="buttons">
                <button type="submit" class="button save">Save</button>
                <a href="{{ url_for('index') }}" class="button cancel" style="text-decoration: none;">Cancel</a>
            </div>


        </form>
    </div>
</body>
</html> 