<!DOCTYPE html>
<html lang="en">

<script src="{{ url_for('static', filename='js/angle.js') }}"></script>
<script src="{{ url_for('static', filename='js/burger.js') }}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLAP - Self Logging Auto Pilot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <div class="burger-menu">
        <div class="burger-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu-overlay" id="menuOverlay">
            <div class="menu-content">
                <a href="configs">Configs</a>
                <a href="trips">Trips</a>
                <a href="sensorsReadings">Sensors</a>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="angle-control">
            <div class="angle-display">
                Angle: <div id="angle">0</div>
            </div>
            <div class="angle-buttons">
                <button onclick="changeValue(-10)">-10</button>
                <button onclick="changeValue(-1)">-1</button>
                <button onclick="changeValue(1)">+1</button>
                <button onclick="changeValue(10)">+10</button>
            </div>
        </div>

        <div class="direction-control">
            <label for="directionSet">Set Direction:</label>
            <input type="number" id="directionSet" name="directionSet">
            <button onclick="setValue(parseInt(document.getElementById('directionSet').value))">Set Direction</button>
        </div>

        <div class="compass-container">
            <svg width="400" height="400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                <image href="{{ url_for('static', filename='images/compass-rose.png') }}" x="0" y="0" width="200" height="200" opacity="0.5"/> 
                <line id="target"
                    x1="100" y1="100" 
                    x2="100" y2="40" 
                    style="stroke:rgb(255, 0, 0);stroke-width:3"
                    transform="rotate(0, 50, 50)" />
                <line id="actual" 
                    x1="100" y1="100" 
                    x2="100" y2="50" 
                    style="stroke:rgb(0, 0, 255);stroke-width:3"
                    transform="rotate(0, 50, 50)" />
                <line id="tiller"
                    x1="100" y1="100" 
                    x2="100" y2="75" 
                    style="stroke:rgb(0, 173, 0);stroke-width:2"
                    transform="rotate(0, 50, 50)" />
            </svg>
        </div>

        <div class="logging-control">
            <button id="loggingButton" onclick="toggleLogging()">LOG</button>
            <button id="startPilotButton" onclick="startPilot()">START</button>
            <button id="stopPilotButton" onclick="stopPilot()">STOP</button>
            <button id="simulateButton" onclick="toggleSimulation()">START SIMULATION</button>
        </div>
    </div>
</body>

</html>