<html>

<script src="{{ url_for('static', filename='js/angle.js') }}"></script>


<head>
    <title>Change Value</title>
</head>

<body>
    <div>
        Angle = <div id="angle">0</div>
    </div>
    <button onclick="changeValue(10)">+10</button>

    <button onclick="changeValue(-10)">-10</button><br><br>

    <label for="directionSet">Set Direction:</label>
    <input type="int" id="directionSet" name="directionSet">
    <button onclick="setValue(parseInt(document.getElementById('directionSet').value))">Set Direction</button><br><br>

    <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" >
       <image href="{{ url_for('static', filename='images/compass-rose.png') }}" x="0" y="0" width="200" height="200"/> 
        <line id = line 
              x1="100" y1="100" 
              x2="100" y2="50" 
              style="stroke:rgb(255, 0, 0);stroke-width:2"
              transform="rotate(0, 50, 50)" />
      </svg>
</body>

</html>